amqp==5.3.1
asgiref==3.8.1
attrs==25.3.0
autobahn==24.4.2
Automat==25.4.16
billiard==4.2.1
bleach==6.1.0
celery==5.5.3
certifi==2025.6.15
cffi==1.17.1
channels==4.0.0
channels-redis==4.2.0
charset-normalizer==3.4.2
click==8.2.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
cloudinary==1.40.0
constantly==23.10.4
cron-descriptor==1.4.5
cryptography==45.0.5
daphne==4.1.1
dj-database-url==3.0.1
Django==5.2.2
django-celery-beat==2.8.1
django-cloudinary-storage==0.3.0
django-cors-headers==4.4.0
django-environ==0.11.2
django-extensions==3.2.3
django-filter==24.3
django-redis==5.4.0
django-timezone-field==7.1
django-user-agents==0.4.0
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
drf-nested-routers==0.94.2
drf-yasg==1.21.7
factory_boy==3.3.1
Faker==28.4.1
gunicorn==23.0.0
hyperlink==21.0.0
idna==3.10
incremental==24.7.2
inflection==0.5.1
iniconfig==2.1.0
kombu==5.5.4
msgpack==1.1.1
ngrok==1.4.0
packaging==25.0
pillow==10.4.0
pluggy==1.6.0
prompt_toolkit==3.0.51
psycopg==3.2.9
psycopg-binary==3.2.9
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycountry==24.6.1
pycparser==2.22
Pygments==2.19.2
PyJWT==2.10.1
pyngrok==7.2.11
pyOpenSSL==25.1.0
pytest==8.4.1
python-crontab==3.3.0
python-dateutil==2.9.0.post0
python-decouple==3.8
python-dotenv==1.1.1
python-magic==0.4.27
pytz==2025.2
PyYAML==6.0.2
redis==5.0.8
requests==2.32.4
service-identity==24.2.0
setuptools==80.9.0
shortuuid==1.0.11
six==1.17.0
sqlparse==0.5.3
Twisted==25.5.0
txaio==25.6.1
typing_extensions==4.14.1
tzdata==2025.2
ua-parser==1.0.1
ua-parser-builtins==0.18.0.post1
uritemplate==4.2.0
urllib3==2.5.0
user-agents==2.2.0
vine==5.1.0
wcwidth==0.2.13
webencodings==0.5.1
whitenoise==6.7.0
zope.interface==7.2