# Core Django & REST Framework
Django==5.0.6
djangorestframework==3.15.1
django-filter==24.2
django-environ==0.11.2
dj-database-url==2.1.0

# PostgreSQL
psycopg-binary==3.2.9

# API Documentation
drf-yasg==1.21.7
drf-nested-routers==0.94.2

# CORS
django-cors-headers==4.3.1

# Extensions & Tools
django-extensions==3.2.3
django-user-agents==0.4.0

# Authentication
djangorestframework-simplejwt==5.3.1

# Redis & Caching
django-redis==5.4.0
redis==5.0.8

# Security & Media
Pillow==10.4.0

# Deployment & Performance
gunicorn==22.0.0
whitenoise==6.6.0

# Cloudinary for Media Storage
cloudinary==1.40.0
django-cloudinary-storage==0.3.0

# Testing & Mock Data
factory-boy==3.3.1
Faker==28.4.1

# Build Tools
setuptools==69.5.1